/*
1. Posicionamiento --> static, absolute, relative, fixed
2. Modelo de caja (Box model) --> margin, border, padding, content
3. Tipografía --> tipos, tamaños de fuente, etc
4. Estilos visuales --> box-shadow, border-radius, gradient, etc
5. Otros --> reglas CSS y más
*/

:root {
  /* Colors */
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #282623;
  --black: #201e1c;
  --grey: #bababa;
  --off-white: #faf8f7;
  --just-white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'DM Sans', sans-serif;
  min-width: 320px;
}


li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 334px;
  text-align: center;
  background: linear-gradient(207.8deg, var(--black) 16.69%, var(--bitcoin-orange) 100%);
}

header img {
  width: 150px;
  height: 25px;
  margin-top: 60px;
  align-self: center;
}

.header__title-container {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  align-self: center;
  height: 218px;
  margin-top: 40px;
}

.header__title-container h1 {
  font-size: 2.4rem;
  color: var(--just-white);
  line-height: 2.4rem;
  font-weight: 700;
}

.header__title-container p {
  font-size: 1.4rem;
  color: var(--soft-orange);
  line-height: 1.8rem;
  font-weight: 500;
  margin-top: 25px;
}

.header__button {
  position: absolute;
  left: calc(50% - 115px);
  top: 257px;
  display: block;
  padding: 15px;
  margin-top: 35px;
  width: 229px;
  height: 48px;
  background-color: var(--off-white);
  color: var(--warm-black);
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.8rem;
  box-shadow: 0px 4px 8px 0px #59491E29;
  border: none;
  border-radius: 4px;
}

.header__button span {
  display: inline-block;
  width: 13px;
  height: 8px;
  margin-left: 10px;
  background-image: url('./assets/icons/down-arrow.svg');
}

main {
  width: 100%;
  height: auto;
  background-color: var(--off-white);
}

.main__exchange-container {
  width: 100%;
  height: auto;
  padding: 60px 0 30px 0;
  text-align: center;
}

.main__exchange-container--title {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
}

.main__exchange-container--title h2 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.6rem;
  color: var(--warm-black);
  margin-bottom: 30px;
}

.main__exchange-container--title p {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #757575;
}

.backgroundImg {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 30px;
  background: url(./assets/img/Bitcoin.svg) center/cover no-repeat;
}